---
import { prefixWithBase } from '../../../ts/utils';
import { navigation } from './properties.json'

const { items } = navigation
---

{
  items.map(({label, href})=>(
    <li class="p-4">
      <a href={prefixWithBase(href)}>{ label }</a>
    </li>
  ))
}
