---
import { backgroundURl } from './properties.json'
const imageUrl =  import.meta.env.DEV ? backgroundURl.dev : backgroundURl.prod
---
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse gap-12 px-10">
    <div class="max-w-md">
      <img src={ imageUrl } class="w-full" />
    </div>
    <div>
      <button class="btn btn-sm btn-outline mb-8">Comunidad de voluntarios</button>
      <h1 class="text-4xl md:text-6xl font-bold">Bootcamp Conovatec</h1>
      <p class="py-6 text-2xl">Únete a nuestro bootcamp de programación y comienza a construir las herramientas que cambiarán el mundo.</p>
      <button class="btn btn-primary">Inscríbete ya</button>
    </div>
  </div>
</div>
