<div class="hero bg-base-200 py-8">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://res.cloudinary.com/dokwefr5i/image/upload/v1676845752/BootcampLanding/daniel-korpai-8GDCzWrcE3M-unsplash_tu4r40.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <button class="btn btn-sm btn-outline mb-8">Comunidad de voluntarios</button>
        <h1 class="text-6xl font-bold">Bootcamp Conovatec</h1>
        <p class="py-6 text-2xl">Únete a nuestro bootcamp de programación y comienza a construir las herramientas que cambiarán el mundo.</p>
        <button class="btn btn-primary">Inscríbete ya</button>
      </div>
    </div>
</div>
