<script>
  import hljs from 'highlight.js'
  hljs.highlightAll()
</script>

<div>
  <pre>
    <code class="language-javascript">
      const a = 'asdasd'
      console.log('asdsa')
    </code>
  </pre>
</div>

<script>
  import { $ } from '../../ts/utils'

  const code = $('.language-javascript')

  // if(code instanceof HTMLElement)
    
</script>
