---
interface Props {
  id: string;
  defaultOf?: boolean;
  isActive?: boolean;
}

const { id, defaultOf, isActive } = Astro.props
---

<div class="form-control w-52">
  <label class="cursor-pointer label">
    <input id={id} type="checkbox" class="toggle toggle-accent" checked={Boolean(!defaultOf && isActive)}/>
  </label>
</div>
