---
export interface Props{
  nameCta: string;
  text: string;
  href: string
}
const { nameCta, text, href } = Astro.props
---

<a class="btn btn-primary" data-cta={nameCta} href={href}>
  {text}
</a>

