---
export interface Props{
  nameCta: string;
  text: string;
  href: string;
  target: string
}
const { nameCta, text, href, target } = Astro.props
---

<a class="btn btn-primary" data-cta={nameCta} href={href} target={target}>
  {text}
</a>

