---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import CTA from '../components/CTA/CTA.astro';
import Section from '../layouts/Section.astro';
import Hero from '../components/Hero/Hero.astro';
import Themes from '../components/Themes/Themes.astro';
---

<Layout title='Bootcamp para principinates CONOVATEC'>
  <div class='root relative'>
    <Navbar />
    <main>
      <section>
        <CTA nameCta='Click me' text='' href='' />
        <script>
          import { mixPanelLocal } from '../ts/services/Mixpanel';
          import { $ } from '../ts/utils';

          $('[data-cta="Click me"]')?.addEventListener(
            'click',
            ({ target }) => {
              if (!(target instanceof HTMLAnchorElement)) return;

              mixPanelLocal().trackCta(target.textContent || '');
            }
          );
        </script>
      </section>
      <Hero />
      <Section>
        <h2 id="themes" class="text-4xl md:text-6xl font-bold pb-12">Que aprenderas?</h2>
        <Themes />
      </Section>
    </main>
    <script src='../ts/main.ts'></script>
  </div>
</Layout>
