---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Section from '../layouts/Section.astro';
import Hero from '../components/Hero/Hero.astro';
import Themes from '../components/Themes/Themes.astro';
import Contact from '../components/Contact/Contact.astro';
import Code from '../components/Code/Code.astro';
---

<Layout title='Bootcamp para principinates CONOVATEC'>
  <div class='root relative'>
    <Navbar />
    <main>
      <Hero />
      <Section sectionClasses={['p-12']}>
        <h2 id="themes" class="text-4xl md:text-6xl font-bold mb-12">Que aprenderas?</h2>
        <Themes />
      </Section>
      <Contact />
    </main>
    <script src='../ts/main.ts'></script>
  </div>
</Layout>
