---
interface Props {
  name: string;
  label: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute
}


const { label, name, type } = Astro.props
---

<label for={name} class="input-group input-group-vertical max-w-xl">
  <span>{label}</span>
  <input id={name} type={type} class="input input-bordered" />
</label>
