---
import CloseMenu from "../Icons/CloseMenu.astro";
import MenuIcon from "../Icons/Menu.astro";
import IconSwap from "../IconSwap.astro";

---
<button 
  role="img" 
  aria-label="Menu" 
  type="button"
  data-button="menu"
  class="md:hidden btn btn-ghost"
>
  <label class="swap">
    <input title="close menu" type="checkbox">
    <IconSwap>
      <MenuIcon />
    </IconSwap>
    <IconSwap on>
      <CloseMenu />
    </IconSwap> 
  </label>
</button>



