---
import Conovatec from "../../icons/Conovatec.astro";
import Menu from "./Menu.astro";
import SwapTheme from "./SwapTheme.astro";

---

<nav class="navbar">
  <Menu />
  <Conovatec />
  <SwapTheme />
</nav>
