---
import Moon from '../Icons/Moon.astro';
import Sun from '../Icons/Sun.astro';
import IconSwap from '../IconSwap.astro';
---

<label class='swap swap-rotate p-2'>
  <button
    data-toggle-theme='dark,light'
    role='none'
    aria-label='Change theme'
    type='button'
    data-button='change-theme'></button>
  <input type='checkbox' />
  <IconSwap on>
    <Moon />
  </IconSwap>
  <IconSwap>
    <Sun />
  </IconSwap>
</label>

<script>
  import { themeChange } from 'theme-change';
  import { $ } from '../../ts/utils/selectors';
  import { clickHandle } from './main';

  themeChange();

  $('label.swap > button[data-button="change-theme"]')?.addEventListener(
    'click',
    function (this: HTMLButtonElement, event) {
      event.preventDefault()
      if (!(this.parentElement instanceof HTMLElement)) return;

      clickHandle(this.parentElement);
    }
  );
</script>
