---
interface Props {
  dataToast: string;
  duration?: number;
  message?: string;
}

const {
  dataToast,
  duration = 8,
  message = "En este momento, no hay contactos disponibles. Contáctenos dejándonos su información.",
} = Astro.props;

const parsedDuration = duration + "s";
---

<style define:vars={{ parsedDuration }}>
  .toast {
    z-index: -1;
  }

  .toast-animated:not(:target) {
    animation-name: toastAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: var(--parsedDuration);
    display: block;
    z-index: 40;
  }

  @keyframes toastAnimation {
    0%,
    100% {
      opacity: 0;
    }

    35%,
    65% {
      opacity: 1;
    }
  }
</style>

<div data-toast={dataToast} class="toast toast-top toast-end opacity-0 z-40">
  <div class="alert alert-error shadow-lg">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-current flex-shrink-0 h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M11.9998 9.00023V13.0002M11.9998 17.0002H12.0098M10.6151 3.89195L2.39019 18.0986C1.93398 18.8866 1.70588 19.2806 1.73959 19.6039C1.769 19.886 1.91677 20.1423 2.14613 20.309C2.40908 20.5002 2.86435 20.5002 3.77487 20.5002H20.2246C21.1352 20.5002 21.5904 20.5002 21.8534 20.309C22.0827 20.1423 22.2305 19.886 22.2599 19.6039C22.2936 19.2806 22.0655 18.8866 21.6093 18.0986L13.3844 3.89195C12.9299 3.10679 12.7026 2.71421 12.4061 2.58235C12.1474 2.46734 11.8521 2.46734 11.5935 2.58235C11.2969 2.71421 11.0696 3.10679 10.6151 3.89195Z"
        ></path></svg
      >
      <span>{message}</span>
    </div>
  </div>
</div>
