---
import Metatags from '../components/Metatags/Metatags.astro'
import '../styles/global.sass'
import '../styles/normalize.sass'
import { prefixWithBase } from '../ts/utils';
export interface Props {
	title: string;
}

const { title } = Astro.props;

const favIconUrl = prefixWithBase('/favicon.gif')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/gif" href={favIconUrl} />
		<meta name="generator" content={Astro.generator} />
		<Metatags />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
