---
interface Props {
  isScreenFull? : boolean,
  sectionClasses? : string[]
}

const { isScreenFull, sectionClasses } = Astro.props

const addedClases = sectionClasses
  ?.reduce((prev, next) =>  prev + ' ' + next , '') ?? ''
---

<section class={`w-screen ${isScreenFull && 'h-screen'}${addedClases}` } >
  <div class="max-w-screen-xl m-auto p-12">
    <slot />
  </div>
</section>
